*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
.checkout-container{
    display: flex;
    width: 100%;
}
.checkout-left{
width: 100%;
flex: 7;
}
.checkout-right{
    width: 100%;
    flex: 2;
}

.checkout-ad-image{
    max-height: 400px;
    width: 100%;
    object-fit: contain;
}
.checkout-left, .checkout-product-container{
    flex-direction: column;
}
..checkout-product-container{
    display: flex;
}